<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YFXTCPServerManager.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6A4BE09F1EA5E4EE006579FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6A4BE0B81EA5E4EE006579FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6A4BE0C31EA5E4EE006579FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
